body{
	color: grey;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: whitesmoke;
	box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
	z-index: 1;
}
.container{
	max-width: 1068px;
	margin: auto;
	width: 100%;
}

.logo{
	width: 100px;
}

#cart-icon{
	width: 50px;
	cursor: pointer;
}

.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.nav a{
	text-decoration: none;
	color: black;
}

@media (max-width: 1080px) {
	.nav {
		padding: 15px;
	}

	.container {
		margin: 0 auto;
		width: 90%;
	}
	.shop {
		margin-top: 2rem !important;
	}
}


















